[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
python-decouple = "*"
djangorestframework-simplejwt = {extras = ["crypto"], version = "*"}
google-auth = "*"
requests = "*"
dotenv = "*"
dj-database-url = "*"
whitenoise = "*"
gunicorn = "*"
psycopg = "*"
psycopg2 = "*"
psycopg2-binary = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.13"
